  {
		
    label: 'Display {{page.field.type}} Field',
    name:'display',
    type: 'checkbox'
  },
  {
    type: '{{page.field.type}}',
    label: '{{page.field.type}} Field',
    display:[{
      type: 'matches',
      name: 'display',
      value: true
    }]
  }