    {type: '{{page.field.type}}', name: 'name_example'{{page.field.addon}}},
    {type: '{{page.field.type}}', label: 'Label Example'{{page.field.addon}}},	
    {type: '{{page.field.type}}'{{page.field.addon}}}