  {
    label: 'Parse {{page.field.type}} Field',
    name:'parse',
    type: 'checkbox'
  },
  {
    type: '{{page.field.type}}',
    label: '{{page.field.type}} Field',
    parse:[{
      type: 'matches',
      name: 'parse',
      value: true
    }]
  }