<table class="table table-bordered table-striped"> 
	<thead> <tr> <th>Name</th> <th>Type</th> <th style="width:205px">Default</th> <th>Description</th> </tr> </thead> 
	<tbody> 

		{{#common}}
		{{>row}}
		{{/common}}

		{{#rows.limit}}
		{{#page.rows.limit}}
		{{>row}}
		{{/page.rows.limit}}
		{{/rows.limit}}

	</tbody> 
</table>