  {
    type: '{{page.field.type}}',
    label: 'Help Example',
    help: 'This is some help text'{{#page.field.collection}},
    options:[1, 2, 3, 4, 5]
    {{/page.field.collection}}{{{page.field.addon}}}
  }