{
    type: '{{page.field.type}}',
    label: 'Limit Example',
    limit: {{limit}}{{#page.field.collection}},
    multiple:true,
    options:[1, 2, 3, 4, 5]
    {{/page.field.collection}}{{{page.field.addon}}}
  }