    {
        type: '{{page.field.type}}', 
        label: 'Options Array', 
        options: ["No", "Yes"]
    },
    {
        type: '{{page.field.type}}', 
        label: 'Options Array 2', 
        options: [
            {label:"No",value:"0"},
            {label:"Yes",value:"1"}
        ]
    },	
