{{#rows.name}}
{{#page.rows.name}}
	{{>exTop}}
	{{>_nameForm}}
	{{>exBottom}}
{{/page.rows.name}}
{{/rows.name}}

{{#rows.label}}
{{#page.rows.label}}
	{{>exTop}}
	{{>_labelForm}}
	{{>exBottom}}
{{/page.rows.label}}
{{/rows.label}}

{{#rows.value}}
{{#page.rows.value}}
	{{>exTop}}
	{{>_valueForm}}
	{{>exBottom}}
{{/page.rows.value}}
{{/rows.value}}

{{#rows.help}}
{{#page.rows.help}}
	{{>exTop}}
	{{>_helpForm}}
	{{>exBottom}}
{{/page.rows.help}}
{{/rows.help}}

{{#rows.placeholder}}
{{#page.rows.placeholder}}
	{{>exTop}}
	{{>_placeholderForm}}
	{{>exBottom}}
{{/page.rows.placeholder}}
{{/rows.placeholder}}

{{#rows.multiple}}
{{#page.rows.multiple}}
	{{>exTop}}
	{{>_multipleForm}}
	{{>exBottom}}
{{/page.rows.multiple}}
{{/rows.multiple}}

{{#rows.limit}}
{{#page.rows.limit}}
	{{>exTop}}
	{{>_limitForm}}
	{{>exBottom}}
{{/page.rows.limit}}
{{/rows.limit}}

{{#rows.size}}
{{#page.rows.size}}
	{{>exTop}}
	{{>_sizeForm}}
	{{>exBottom}}
{{/page.rows.size}}
{{/rows.size}}

{{#rows.min}}
{{#page.rows.min}}
	{{>exTop}}
	{{>_minForm}}
	{{>exBottom}}
{{/page.rows.min}}
{{/rows.min}}

{{#rows.max}}
{{#page.rows.max}}
	{{>exTop}}
	{{>_maxForm}}
	{{>exBottom}}
{{/page.rows.max}}
{{/rows.max}}

{{#rows.step}}
{{#page.rows.step}}
	{{>exTop}}
	{{>_stepForm}}
	{{>exBottom}}
{{/page.rows.step}}
{{/rows.step}}

{{#rows.options}}
{{#page.rows.options}}
	{{>exTop}}
	{{>_optionsForm}}
	{{>exBottom}}
{{/page.rows.options}}
{{/rows.options}}

{{#rows.format}}
{{#page.rows.format}}
  {{>exTop}}
  {{>_formatForm}}
	
        format:{{{format}}}
  }
	{{>exBottom}}
{{/page.rows.format}}
{{/rows.format}}

{{#rows.columns}}
{{#page.rows.columns}}
	{{>exTop}}
	{{>_columnsForm}}
	{{>exBottom}}
{{/page.rows.columns}}
{{/rows.columns}}

{{#rows.target}}
{{#page.rows.target}}
	{{>exTop}}
	{{>_targetForm}}
	{{>exBottom}}
{{/page.rows.target}}
{{/rows.target}}

{{#rows.array}}
{{#page.rows.array}}
	{{>exTop}}
	{{>_arrayForm}}
	{{>exBottom}}
{{/page.rows.array}}
{{/rows.array}}

{{#rows.show}}
{{#page.rows.show}}
	{{>exTop}}
	{{>_showForm}}
	{{>exBottom}}{{/page.rows.show}}
{{/rows.show}}

{{#rows.edit}}
{{#page.rows.edit}}
	{{>exTop}}
	{{>_editForm}}
	{{>exBottom}}{{/page.rows.edit}}
{{/rows.edit}}

{{#rows.parse}}
{{#page.rows.parse}}
	{{>exTop}}
	{{>_parseForm}}
	{{>exBottom}}{{/page.rows.parse}}
{{/rows.parse}}

{{#rows.validate}}
{{#page.rows.validate}}
	{{>exTop}}
	{{>_validateForm}}
	{{>exBottom}}
{{/page.rows.validate}}
{{/rows.validate}}

{{#rows.required}}
{{#page.rows.required}}
	{{>exTop}}
	{{>_requiredForm}}
	{{>exBottom}}
{{/page.rows.required}}
{{/rows.required}}