{{#rows.name}}
{{#page.rows.name}}
	{{>formTop}}
	{{>_nameForm}}
	{{>formBottom}}
{{/page.rows.name}}
{{/rows.name}}

{{#rows.label}}
{{#page.rows.label}}
	{{>formTop}}
	{{>_labelForm}}
	{{>formBottom}}
{{/page.rows.label}}
{{/rows.label}}

{{#rows.value}}
{{#page.rows.value}}
	{{>formTop}}
	{{>_valueForm}}
	{{>formBottom}}
{{/page.rows.value}}
{{/rows.value}}

{{#rows.help}}
{{#page.rows.help}}
	{{>formTop}}
	{{>_helpForm}}
	{{>formBottom}}
{{/page.rows.help}}
{{/rows.help}}

{{#rows.placeholder}}
{{#page.rows.placeholder}}
	{{>formTop}}
	{{>_placeholderForm}}
	{{>formBottom}}
{{/page.rows.placeholder}}
{{/rows.placeholder}}

{{#rows.multiple}}
{{#page.rows.multiple}}
	{{>formTop}}
	{{>_multipleForm}}
	{{>formBottom}}
{{/page.rows.multiple}}
{{/rows.multiple}}

{{#rows.limit}}
{{#page.rows.limit}}
	{{>formTop}}
	{{>_limitForm}}
	{{>formBottom}}
{{/page.rows.limit}}
{{/rows.limit}}

{{#rows.size}}
{{#page.rows.size}}
	{{>formTop}}
	{{>_sizeForm}}
	{{>formBottom}}
{{/page.rows.size}}
{{/rows.size}}

{{#rows.min}}
{{#page.rows.min}}
	{{>formTop}}
	{{>_minForm}}
	{{>formBottom}}
{{/page.rows.min}}
{{/rows.min}}

{{#rows.max}}
{{#page.rows.max}}
	{{>formTop}}
	{{>_maxForm}}
	{{>formBottom}}
{{/page.rows.max}}
{{/rows.max}}

{{#rows.step}}
{{#page.rows.step}}
	{{>formTop}}
	{{>_stepForm}}
	{{>formBottom}}
{{/page.rows.step}}
{{/rows.step}}

{{#rows.options}}
{{#page.rows.options}}
	{{>formTop}}
	{{>_optionsForm}}
	{{>formBottom}}
{{/page.rows.options}}
{{/rows.options}}

{{#rows.format}}
{{#page.rows.format}}
	{{>formTop}}
	{{>_formatForm}}        format: forms.format_select.fields[3].format
    }
	{{>formBottom}}
{{/page.rows.format}}
{{/rows.format}}

{{#rows.columns}}
{{#page.rows.columns}}
	{{>formTop}}
	{{>_columnsForm}}
	{{>formBottom}}
{{/page.rows.columns}}
{{/rows.columns}}

{{#rows.target}}
{{#page.rows.target}}
	{{>formTop}}
	{{>_targetForm}}
	{{>formBottom}}
{{/page.rows.target}}
{{/rows.target}}

{{#rows.array}}
{{#page.rows.array}}
	{{>formTop}}
	{{>_arrayForm}}
	{{>formBottom}}
{{/page.rows.array}}
{{/rows.array}}

{{#rows.display}}
{{#page.rows.display}}
	{{>formTop}}
	{{>_displayForm}}
	{{>formBottom}}{{/page.rows.display}}
{{/rows.display}}

{{#rows.enable}}
{{#page.rows.enable}}
	{{>formTop}}
	{{>_enableForm}}
	{{>formBottom}}{{/page.rows.enable}}
{{/rows.enable}}

{{#rows.parse}}
{{#page.rows.parse}}
	{{>formTop}}
	{{>_parseForm}}
	{{>formBottom}}{{/page.rows.parse}}
{{/rows.parse}}

{{#rows.validate}}
{{#page.rows.validate}}
	{{>formTop}}
	{{>_validateForm}},
		{type:'button', action:'validate',label:'Validate',modifiers:'btn btn-warning'}
	{{>formBottom}}.sub('validate',function(e){
		e.form.validate()
}){{/page.rows.validate}}
{{/rows.validate}}

{{#rows.required}}
{{#page.rows.required}}
	{{>formTop}}
	{{>_requiredForm}},
		{type:'button', action:'validate',label:'Validate',modifiers:'btn btn-warning'}
	{{>formBottom}}.sub('validate',function(e){
		e.form.validate()
})
{{/page.rows.required}}
{{/rows.required}}
