/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 80px;
}
footer {
  padding: 30px 0;
}

.navbar-inverse {
border-color: #080808;
background: #2f353e;
border: #24292f;
height: 60px;
border-top: 10px solid #191c21;
opacity: .95
}
.navbar-inverse .navbar-nav>li>a {
background: #2f353e;
padding-top: 15px;
padding-bottom: 15px;
color: #ccc;
}
.navbar .navbar-nav>li>a:hover{
	background: #2f353e;
} 
.navbar-header{height: 50px;}
@media (max-width:768px){
	.navbar-nav {
		margin: .5px -15px;
	}
}
.navbar-brand {
    padding: 5px 15px;
}
#schema_editor { 
	height:500px;
}
#editor { 
	position: relative;
}
/*#cb-form{
    left: 50px !important;
    right: 50px !important;
    top: 130px !important;
    bottom: 30px !important;

}*/
#showwidgets{float:right;}
#alt-sidebar { 
	padding-top:0px;
	/*height:500px;*/
}

li a, li a:hover, li a:active, li a:visited{
color: #2F353E;
color:#686F7B;
}
code{color:#BA7D10;background:#FCF3E2;}
h2, h3, h4{font-weight: 200;color:#BA7D10;}
h5 code,h4 code{margin-left:50px;background: rgba(0, 0, 0, 0);
color: #555;}
h4 code{font-size:12px;}
pre{margin:0px 0;
     background-color: #f4f4f4;
     border: 0; 
     border-radius: 0; 
  }

