// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Clear a float with .clearfix
.clearfix {

	&:after {
		clear: both;
		content: ' '; // The space content is one way to avoid an Opera bug.
		display: table;
	}
}
// Float either direction
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.hidden{
	display: none !important;
}


.loading {
	display: inline-block;
	border: 3px solid /*rgba(200,200,255,.3)*/$color-tertiary;
	border-radius: 50%;
	border-top-color: $color-primary;
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
	to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
	to { -webkit-transform: rotate(360deg); }
  }